.container {
  max-width: 960px;
  width: 100%;
  margin: 40px auto;
  background: #ffffff;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.header {
  padding: 20px;
  background: #86CCA7;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

.tiers_sidebar {
  display: flex;
  padding: 20px;
}